@import appVariables

:local(.styles)
  height: 100%
  width: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: relative

  .TilesView
    height: 100%
    width: 100%
    background-color: #2c3651

    .NavBar
      background-color: transparent
      color: #516089

    .NavBar--title
      letter-spacing: 1px
      text-transform: uppercase

    .View--Inner
      padding: 0
      color: #79acf8
      background-color: transparent

    .tilesList
      height: 100%
      padding: 4rem $standardSidePadding
      overflow-y: scroll

      &.tileSelected
        div[class*="-Tile"]
          transform: translateY(-100vh)


    div[class*="-Tile"]
      transition: transform 0.3s ease-out

      &.selected
        & ~ div[class*="-Tile"]:not(.selected)
          transform: translateY(100vh)


  .DetailView
    &.viewTransition_pop-appear, &.viewTransition_pop-enter
      .detailView__hero
        transition: transform 0.15s ease-out, opacity 0.15s ease-out
        transform: scale(0.2)

    &.viewTransition_pop-appear-active, &.viewTransition_pop-enter-active
      .detailView__hero
        transform: none

    &.viewTransition_pop-leave
      .NavBar--title
        opacity: 1
        transition: opacity 0.15s

      .detailView__hero
        transition: transform 0.15s ease-out, opacity 0.15s ease-out
        transform: none

      &.viewTransition_pop-leave-active
        .NavBar--title
          opacity: 0
        .detailView__hero
          transform: scale(0)


    .NavBar
      position: absolute
      width: 100%
      z-index: 2
      background: transparent

    .NavBar--title
      letter-spacing: 1px
      text-transform: uppercase

    .View--Inner
      background: transparent

    .detailView__hero
      width: 100%
      height: 30%
      background-size: 100% auto
      background-repeat: no-repeat
      transform-origin: center





